.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Rajdhani", sans-serif;
    box-sizing: border-box;
}



body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
}

.container {
  display: flex;
  min-height: 100vh;
  padding: 40px;
  gap: 40px;
  box-sizing: border-box;
}

.left-panel {
  flex: 1;
  background: rgba(30, 30, 30, 0.85);
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flag {
  width: 100px;
  border-radius: 6px;
  
}

.nation-title {
  font-size: 3rem;
  margin: 0;
  color: #ff0000;

  border-bottom: 1px solid #3a3a3a;
}

.nation-description {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.9;
}

.strengths h2 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.strengths ul {
  list-style: square;
  padding-left: 20px;
}

.strengths li {
  margin-bottom: 8px;
}

.right-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.video-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border: 2px solid #333;
  border-radius: 12px;
  overflow: hidden;
}

.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 30%;
  border-radius: 10px;
  border: 2px solid #222;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.03);
}

.download-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    
}

.header-download-button {

    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(to right, #c40000, #ff1e1e); /* rojo oscuro a rojo vivo */
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow-x:hidden;

    margin: auto;
    text-align: center;

    
}
