.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Rajdhani", sans-serif;
    box-sizing: border-box;
}


body {
    background-color: rgb(37, 37, 37);
}

video#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
}

.header-content {
    position: relative;
    margin-top: 10%;
    
    z-index: 1;
    color: white;
    text-align: center;
    
    top: 50%;
    font-size: 2rem;
    overflow-x:hidden;
}



.header-download-button {

    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(to right, #c40000, #ff1e1e); /* rojo oscuro a rojo vivo */
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow-x:hidden;

    margin: 20px auto 30px auto;
    
}

.header-download-button:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 18px rgba(255, 0, 0, 0.6);
    overflow-x:hidden;
}

@media (max-width: 760px) {
    
    .header-content {
        margin-top: 150px;
    }
    
    .header-content img {
        width: 400px;
    }
}

i {
    margin: 0 10px;
    opacity: 60%;
}

main {
    margin-top: 300px;
}

.divisor-h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color:white;
    font-weight: 700;
}

.aviable-vehicles {
    color: white;
    text-align: center;
    font-size: 23px;

}



.vehicles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    gap: 24px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
}

@media (max-width: 1200px){
    .vehicles {

        grid-template-columns: repeat(1, 1fr);
        
    }
}

.vehicle-card {
    background-color: #1e1e1e;
    color: white;
    padding: 24px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;

}



.vehicle-img {
    width: 300px;
}

.gn-img-container {
    position: relative;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.gn-img-container .gn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,  rgb(37, 37, 37) 100%);
}

.fade-overlay-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(255,255,255,0) 0%,  rgb(37, 37, 37) 100%);
}

.ww-container {
    border-top: 1px solid white;
}

.two {
    margin-top: 20px;
}


.ww-container {
    display: flex;
    color: white;
}
.ww-p {
    padding: 40px 40px 0 40px;
    font-size: 25px;
   
}

#carouselExampleCaptions {
    width: 70vw;
    margin: auto;
}

#carrousel {
    height: 600px;
    object-fit: cover;
}

.nations {
    
    box-sizing: border-box;
}

.nations-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 90vw;
  box-sizing: border-box;
  margin: auto;
  
}

@media (max-width: 1400px) {
    .nations-grid {
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 1120px) {
    .nations-grid {
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 820px) {
    .nations-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 600px) {
    .nations-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        
    }

    .nation-button img {
    width: 100px;
}

    .nation-button p {
        font-size: 10px
    }
}

@media (max-width: 500px) {
    .nations-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        
    }
    .nation-button img {
        width: 70px;
    }
}

.nation-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  transition: transform 0.1s, background 0.3s;
}

.nation-btn img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.nation-btn span {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.3rem;
}

.nation-btn:hover {
  transform: translateY(-3px);
  background: #242424;
}

.nation-btn:hover img {
  transform: scale(1.05);
}


.nation-btn a {
    width: 100%;
    text-decoration: none;
    color: white;
}